# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

.settings/
.project
.idea/
/.idea/
/.idea
.idea
.dubbo/
.DS_Store
*.iml
*.iml/
*.log
/conf/
/disconf/
p-trade-oc.iml
launch.json
settings.json
.factorypath
/.vscode/
.project
.classpath
.settings/
target/
.vscode/
.iml